div .Titlebar{
	
	width: 100%;
	background-color:white;
	margin:0;
	padding:1px 10px;
}

.Titlebar h3{
	
	font-size:18px;
	text-align:center;
	font-weight:bold;
	margin:0;
}

.Titlebar i{
	float:right;
	font-weight:bold;
}

.fa{
	color:black;
}

.fa-arrows-alt,
  .fa-compress {
	  
    position: relative;
	top:3px;
	color:black;
  }