html, #root, body, .App{
	
	height:100%;
	margin:0;
	padding:0;
}
.App{
	background:darkblue;
	padding:20px;
	height:auto;
}
.App h1{
	text-align:center;
	color:white;
	margin:0;
}

#preview{
	padding:10px;
	background:white;
	width:100%;
	margin:auto;
	background:lightgray;
}

#preview h1{
	color:black;
}

textarea{
	height:88%;	
	background:gray;
	padding:8px 9px;
	width:100%;
	resize:none;
}

.editorWrap{

	margin:20px auto;
	width:80%;
	height:300px;
}

textarea:hover{
	background: lightgray;
}


.editorWrapMax{
	
	margin:20px auto 60px;
	width:90%;
	height:500px;
	
}

.previewWrap{
	
	width:90%;
	margin:30px auto 10px auto;
	
}

.previewWrapMax{
	
	width:90%;
	margin:30px auto 30px auto;
	padding:15px;
	height:100%;
}

.hidden{
	display:none;
}



/************Preview display Style **************/

code{
	background: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
}

pre{
	background:white;
	padding: 5px 0 5px 5px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}

table{
	border-collapse: collapse;
}

 td,
  th {
    border: 2px solid #224B4B;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  img{
	  width:80%;
  }